*{
    text-decoration:none;
}
body {
    font-family: Arial, sans-serif;
    display:flex
}

.banner {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display:flex;
    margin-top:50px;
    flex-direction:column;
    justify-content:center;
}
.banner_texts p {
    font-weight: bold;
    font-size: 50px;
}

h1 {
    margin: 20px;
    font-size: 24px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}
.guideDiv p
{
    text-align:center;  
    margin-top:10px;
}

#myDialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#myButton:hover + #myDialog,
#myDialog:hover {
  display: block;
}

#myDialog2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}


    #myButton:hover + #myDialog,
    #myDialog:hover {
        display: block;
    }


.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    color: #fff;
}
