@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Attendance Management System</title>
    <link rel="stylesheet" type="text/css" href="/Content/Site.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body>
    <div class="banner">
        <div class="banner_texts">
            <p>ATTENDANCE MANAGEMENT SYSTEM</p>
        </div>

    </div>
    <div class="guideDiv">
    </div>

    <div id="myDialog">
        <h2>Report A</h2>
        <p>Generates the Report Containing the list of employees who are present in LOCAL not in BAS</p>
    </div>

    <div id="myDialog2">
        <h2>Report B</h2>
        <p>Generates the Report Containing the list of who have less than 8 hrs of working hours</p>
    </div>

    <div class="buttons">
        <a href="@Url.Action("ReportAPage","Home")" id="buttonA" class="button">Report A</a>
        <a href="@Url.Action("Index", "Admin")" id="buttonB" class="button">Report B</a>
    </div>
    <script>
        $(document).ready(function () {
            $('#buttonA').hover(
                function () {
                    $('#myDialog').show();
                },
                function () {
                    $('#myDialog').hide();
                }
            );
        });

        $(document).ready(function () {
            $('#buttonB').hover(
                function () {
                    $('#myDialog2').show();
                },
                function () {
                    $('#myDialog2').hide();
                }
            );
        });
    </script>

</body>

</html>
