
@{
    ViewBag.Title = "ReportAPage";
}
<!DOCTYPE html>
<html>
<head>
    <title>Attendance Management System</title>
    <link rel="stylesheet" type="text/css" href="/Content/Site.css">
</head>

<body>


</body>

</html>